<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="/static/css/base.css" rel="stylesheet">
    {% block import %}
    {% endblock %}
</head>
<body>
<!--    <header>-->
<!--        <a href="/">Home</a>-->
<!--        <a href="/">Home</a>-->
<!--        <div>-->
<!--            <img src="/static/images/logo.png">-->
<!--        </div>-->
<!--        <a href="registration">Sign Up</a>-->
<!--    </header>-->

    <a href="/logout">logout</a>
        {% block content %}
        {% endblock %}

</body>
</html>