{% extends 'base.html' %}

{% block content %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="/static/js/create_comment.js"></script>
    <h2>{{ post.title }}</h2>
    <br>
    <p>{{ post.text }}</p>
    {% if liked %}
        <button id="like">Dislike</button>
    {% else %}
        <button id="like">Dislike</button>
    {% endif %}
    <p id="likes">{{ amount }}</p>
    {{ form.hidden_tag() }}
    {{ form.text.label }}
    {{ form.text(size=20, id='text') }}
    {{ form.button(id='btn') }}
    <input type="hidden" id="url" value="/posts/{{post.id}}">
    <div id="comments" >
        {% for c in comments %}
        <p>{{ c.text }}</p>
    {% endfor %}
    </div>
    <div>
        <input type="text" id="title" value="{{ post.title }}">
        <textarea id="text">{{ post.text }}</textarea>
        <input type="file" id="file" value="{{ post.image }}">
        <input type="submit" id="change_data">
    </div>
{% endblock %}